.venv/*
*nogit*
*.DS_Store*
.Rproj.user
*.RData
*.Rhistory
R.Rproj
*.ipynb_checkpoints*
.ipynb_checkpoints*
/.luarc.json
*FALL2023TIDYVERSE*
data607-data-acquisition-and-management/week2/castles.db
data607-data-acquisition-and-management/week2/julia.ipynb
castles.db
*_pycache__* 
*.vscode/*
data606-statistics-and-probability/assignments/three/kobe_streak_plot.png
data606-statistics-and-probability/assignments/three/sim_streak_plot.png
kobe_streak_plot.png
sim_streak_plot.png
*.lintr
*output.log
data607-data-acquisition-and-management/week9/apis.html
data607-data-acquisition-and-management/week9/apis_files/
data607-data-acquisition-and-management/week9/rsconnect/
data607-data-acquisition-and-management/projects/nobel/nobel.html
data607-data-acquisition-and-management/projects/nobel/nobel.pdf
data607-data-acquisition-and-management/projects/nobel/nobel_files/
*rsconnect*
