.venv/*
*nogit*
*.DS_Store*
.Rproj.user
*.RData
*.Rhistory
R.Rproj
*.ipynb_checkpoints*
.ipynb_checkpoints*
/.luarc.json
*FALL2023TIDYVERSE*
data607-data-acquisition-and-management/week2/castles.db
data607-data-acquisition-and-management/week2/julia.ipynb
castles.db
*_pycache__* 
*.vscode/*
data606-statistics-and-probability/assignments/three/kobe_streak_plot.png
data606-statistics-and-probability/assignments/three/sim_streak_plot.png
kobe_streak_plot.png
sim_streak_plot.png
*.lintr
*output.log
data607-data-acquisition-and-management/week9/apis.html
data607-data-acquisition-and-management/week9/apis_files/
data607-data-acquisition-and-management/week9/rsconnect/
data607-data-acquisition-and-management/projects/nobel/nobel.html
data607-data-acquisition-and-management/projects/nobel/nobel.pdf
data607-data-acquisition-and-management/projects/nobel/nobel_files/
*rsconnect*
data607-data-acquisition-and-management/week10/nlp_files/*
data607-data-acquisition-and-management/week10/nlp.html
*_dfm.rds
*spam_classifier_files/*
data607-data-acquisition-and-management/projects/spam-classifier/spam_classifier_files/*
data607-data-acquisition-and-management/projects/spam-classifier/spam_classifier.html
data607-data-acquisition-and-management/projects/recommender/rec_files/*
data607-data-acquisition-and-management/projects/recommender/rec.html
data606-statistics-and-probability/assignments/nine/lab9_files/* 
data606-statistics-and-probability/assignments/nine/lab9.tex
data606-statistics-and-probability/assignments/nine/lab9.pdf
data624-predictive/week2/week2_files/*
data624-predictive/week3/week3_files/*
data624-predictive/week3/week3.html
data624-predictive/week3/week2.html
data624-predictive/week5/week5_files/* 
data624-predictive/week5/week5.html
data624-predictive/week6/week6_files/*
data624-predictive/week6/week6.html
data624-predictive/week7/week7_files/* 
data624-predictive/week7/week7.html
data624-predictive/week4/week4.html
data624-predictive/week4/week4_files/*
data624-predictive/week7-8/week7-8.html
data624-predictive/week7-8/week7-8_files/figure-html/*
data624-predictive/week7-8/week7-8_files/* 
data624-predictive/project1/project1.html
data624-predictive/project1/project1_files/*
