pip
ipython
install-jdk
import-java
wheel
awscliv2
pyspark==3.3.0
pyarrow
numpy
requests
pprintpp
prophet
pyspark[sql]
pandas
Cython>=0.22
plotly==5.13.1
jupyter
pyttsx3
seaborn
matplotlib
scipy
ipykernel
sympy

## rekognition demo
boto3>=1.26.79
pillow>=9.4.0
pytest>=7.2.1
requests>=2.28.2
